body{
    background-color: 201D1D;
    color: white;
}

.genre {
    background-color: 484242;
    border-radius: 10px;
    margin-bottom: 10%;
}

.genre-slider {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-card img {
    height: 350px;
    width: 250px;
}