{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css" />
{% endblock %}

{% block content %}
    <h1>Welcome, {{ current_user.username }}</h1>
        <!-- <form action="" method="post">
            {{ reviewForm.hidden_tag() }}
            <p>
                {{ reviewForm.review.label() }}<br>
                {{ reviewForm.review(cols=32, rows=4) }}<br>
                {% for error in reviewForm.review.errors %}
                <span style="color: red">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ reviewForm.stars.label() }}<br>
                {{ reviewForm.stars() }} <br>
                {% for error in reviewForm.stars.errors %}
                <span style="color: red">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ reviewForm.submit() }}</p>
        </form> -->
    {% for genre_cat  in genres %}
        <div class="genre">
            {{ genre_cat }}
            <div class="genre-slider">
            {% for movie in movies %}
                {% for genre_movie in movie.genres %}
                    {% if genre_movie == genre_cat %}
                        <div class="movie-card">
                            <img src="{{ movie.poster_url }}">
                            {{ movie.title }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    {% endfor %}
    <!-- {% for movie in movies %}
        {{ movie.title }}
        {% for genre in movie.genres %}
            
        {% endfor %} -->
        <!-- {% if not current_user.is_favourited(movie) %}
            <form action="{{ url_for('favourite', movieTitle=movie.title) }}" method="post">
                {{ favourite.hidden_tag() }}
                {{ favourite.submit(value="Favourite") }}
            </form>
        {% else %}
            <form action="{{ url_for('unfavourite', movieTitle=movie.title) }}" method="post">
                {{ favourite.hidden_tag() }}
                {{ favourite.submit(value="Unfavourite") }}
            </form>
        {% endif %} -->
    <!-- </p> -->
    <!-- {% endfor %} -->
    {% for review in reviews %}
    <p>{{ review.author }}, {{ review.reviewBody }}, {{ review.stars }}</p>
    {% endfor %}
{% endblock %}